[Unit]
Description=Weather Alert Server
After=network.target

[Service]
WorkingDirectory=/home/wick/weather-GO
ExecStart=/home/wick/weather-GO/server
Restart=always
RestartSec=5
EnvironmentFile=/home/wick/weather-GO/.env

[Install]
WantedBy=multi-user.target
